In [1]:
# （必要な場合だけ）依存関係
# %pip install sqlalchemy psycopg2-binary pandas

import os
import pandas as pd
from sqlalchemy import create_engine, text

# ===== 設定（環境変数で上書き可）=========================================
SCHEMA       = os.getenv("TARGET_SCHEMA", "public")
LIKE_PATTERN = os.getenv("LIKE_PATTERN", "nf_%")   # 例: "nf_%"
HEAD_N       = int(os.getenv("HEAD_N", "10"))      # 先頭プレビュー行数
MAX_ROWS_ENV = os.getenv("MAX_ROWS")               # None=全件
MAX_ROWS     = int(MAX_ROWS_ENV) if (MAX_ROWS_ENV and MAX_ROWS_ENV.isdigit()) else None
# ========================================================================

# ===== 接続文字列の決定（DATABASE_URL 優先。無ければ PGHOST 等から生成）=====
DATABASE_URL = os.getenv("DATABASE_URL")
if not DATABASE_URL:
    host = os.getenv("PGHOST", "127.0.0.1")
    port = os.getenv("PGPORT", "5432")
    db   = os.getenv("PGDATABASE", "postgres")
    user = os.getenv("PGUSER", "postgres")
    pw   = os.getenv("PGPASSWORD", "")
    DATABASE_URL = f"postgresql+psycopg2://{user}:{pw}@{host}:{port}/{db}"
# ========================================================================

# ===== エンジン作成・疎通 ==================================================
engine = create_engine(DATABASE_URL, pool_pre_ping=True)
with engine.connect() as cx:
    cx.execute(text("SELECT 1"))
print("[ok] DB接続OK")
# ========================================================================

# ===== クエリ用ヘルパ ======================================================
def q(sql: str, params=None) -> pd.DataFrame:
    """named bind だけ使う（SQLAlchemy 2.x 向け）"""
    with engine.begin() as cx:
        return pd.read_sql(text(sql), cx, params=params or {})
# ========================================================================

# ===== nf_% テーブルを列挙（存在テーブルの正式名だけ取得）==================
tables_df = q("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = :schema
  AND table_name LIKE :pat
ORDER BY table_name
""", {"schema": SCHEMA, "pat": LIKE_PATTERN})

table_names = tables_df["table_name"].tolist()
print("=== 取得対象テーブル ===")
print(table_names)
# ========================================================================

# ===== スキーマ情報（ゼロ行でもカラム定義を表示できるように先取り）=========
cols_df = q("""
SELECT table_name, ordinal_position, column_name, data_type,
       character_maximum_length, is_nullable
FROM information_schema.columns
WHERE table_schema = :schema
  AND table_name LIKE :pat
ORDER BY table_name, ordinal_position
""", {"schema": SCHEMA, "pat": LIKE_PATTERN})
# ========================================================================

# ===== 各テーブルを DataFrame 化（dfs と df_<tablename> に格納）============
dfs = {}

def load_table(schema: str, name: str, max_rows=None) -> pd.DataFrame:
    lim = f" LIMIT {int(max_rows)}" if max_rows else ""
    sql = f'SELECT * FROM "{schema}"."{name}"{lim}'
    return q(sql)

for t in table_names:
    df = load_table(SCHEMA, t, MAX_ROWS)
    dfs[t] = df
    globals()[f"df_{t}"] = df            # 例: df_nf_model_profile
    print(f"[load] {t}: {len(df)} rows × {len(df.columns)} cols")
# ========================================================================

# ===== サマリ（行数・列数）==================================================
summary_df = pd.DataFrame(
    [(t, len(dfs[t]), len(dfs[t].columns)) for t in table_names],
    columns=["table", "rows", "cols"]
).sort_values("table").reset_index(drop=True)
display(summary_df)
# ========================================================================

# ===== スキーマ＋先頭行プレビュー =========================================
pd.set_option("display.max_colwidth", 200)

def preview(name: str, head_n: int = HEAD_N, truncate: int = 200):
    print(f"\n=== {name} ===")
    # カラム定義
    schema_part = cols_df[cols_df["table_name"] == name].copy()
    display(schema_part)
    # データ
    df = dfs.get(name)
    print(f"[rows] {len(df)}")
    if len(df) > 0:
        dfv = df.copy()
        # 長文は見やすいように切り詰め
        for c in dfv.select_dtypes(include=["object"]).columns:
            dfv[c] = dfv[c].astype(str).str.slice(0, truncate)
        display(dfv.head(head_n))
    else:
        print("(empty)")

for t in table_names:
    preview(t)
# ========================================================================

[ok] DB接続OK
=== 取得対象テーブル ===
['nf_calibration', 'nf_ckpt', 'nf_config', 'nf_dataset_profile', 'nf_dm_test', 'nf_drift', 'nf_eval_interval', 'nf_eval_point', 'nf_forecasts', 'nf_hparams', 'nf_metrics', 'nf_model', 'nf_model_complexity', 'nf_model_diagnosis', 'nf_model_profile', 'nf_models', 'nf_optimization_suggestions', 'nf_parameter_sensitivity', 'nf_pkl', 'nf_predictions', 'nf_quantiles', 'nf_residual_stats', 'nf_run', 'nf_runs', 'nf_series', 'nf_training_state', 'nf_weight_statistics']
[load] nf_calibration: 0 rows × 7 cols
[load] nf_ckpt: 1 rows × 4 cols
[load] nf_config: 1 rows × 16 cols
[load] nf_dataset_profile: 0 rows × 12 cols
[load] nf_dm_test: 0 rows × 10 cols
[load] nf_drift: 0 rows × 9 cols
[load] nf_eval_interval: 0 rows × 8 cols
[load] nf_eval_point: 0 rows × 10 cols
[load] nf_forecasts: 0 rows × 10 cols
[load] nf_hparams: 1 rows × 46 cols
[load] nf_metrics: 0 rows × 8 cols
[load] nf_model: 1 rows × 62 cols
[load] nf_model_complexity: 0 rows × 7 cols
[load] nf_model_diagnosis: 0 rows × 7 cols
[load] nf_model_profile: 0 rows × 11 cols
[load] nf_models: 58 rows × 10 cols
[load] nf_optimization_suggestions: 0 rows × 8 cols
[load] nf_parameter_sensitivity: 0 rows × 6 cols
[load] nf_pkl: 1 rows × 5 cols
[load] nf_predictions: 0 rows × 7 cols
[load] nf_quantiles: 0 rows × 6 cols
[load] nf_residual_stats: 0 rows × 15 cols
[load] nf_run: 0 rows × 10 cols
[load] nf_runs: 7 rows × 7 cols
[load] nf_series: 0 rows × 3 cols
[load] nf_training_state: 0 rows × 8 cols
[load] nf_weight_statistics: 0 rows × 14 cols

                          table  rows  cols
0                nf_calibration     0     7
1                       nf_ckpt     1     4
2                     nf_config     1    16
3            nf_dataset_profile     0    12
4                    nf_dm_test     0    10
5                      nf_drift     0     9
6              nf_eval_interval     0     8
7                 nf_eval_point     0    10
8                  nf_forecasts     0    10
9                    nf_hparams     1    46
10                   nf_metrics     0     8
11                     nf_model     1    62
12          nf_model_complexity     0     7
13           nf_model_diagnosis     0     7
14             nf_model_profile     0    11
15                    nf_models    58    10
16  nf_optimization_suggestions     0     8
17     nf_parameter_sensitivity     0     6
18                       nf_pkl     1     5
19               nf_predictions     0     7
20                 nf_quantiles     0     6
21            nf_residual_stats     0    15
22                       nf_run     0    10
23                      nf_runs     7     7
24                    nf_series     0     3
25            nf_training_state     0     8
26         nf_weight_statistics     0    14

=== nf_calibration ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
0,nf_calibration,1,cal_id,bigint,NaN,NO
1,nf_calibration,2,run_id,bigint,NaN,YES
2,nf_calibration,3,model_id,bigint,NaN,YES
3,nf_calibration,4,level,integer,NaN,YES
4,nf_calibration,5,coverage,double precision,NaN,YES
5,nf_calibration,6,mil,double precision,NaN,YES
6,nf_calibration,7,winkler,double precision,NaN,YES

[rows] 0
(empty)

=== nf_ckpt ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
7,nf_ckpt,1,id,integer,NaN,NO
8,nf_ckpt,2,dir_data_long_parent_dir_n_features_loto_bingo5_model_autokan_n,text,NaN,YES
9,nf_ckpt,3,sources,jsonb,NaN,YES
10,nf_ckpt,4,created_at,timestamp without time zone,NaN,YES

[rows] 1

,id,dir_data_long_parent_dir_n_features_loto_bingo5_model_autokan_n,sources,created_at
0,1,"""alias"": None\n""batch_size"": 32\n""dataloader_kwargs"": None\n""drop_last_loader"": False\n""early_stop_p...",{'dir_data_long_parent_dir_n_features_loto_bingo5_model_autokan_n': 'ckpt.dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoKAN)_N(1)_unique_id(N1)_h(1)_loss(MAE())_local_scaler_type(ro...,2025-11-11 11:04:02.485786

=== nf_config ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
11,nf_config,1,id,integer,NaN,NO
12,nf_config,2,configuration_h,text,NaN,YES
13,nf_config,3,configuration_freq,text,NaN,YES
14,nf_config,4,configuration_fitted,text,NaN,YES
15,nf_config,5,configuration_local_scaler_type,text,NaN,YES
16,nf_config,6,configuration_scalers,text,NaN,YES
17,nf_config,7,configuration_id_col,text,NaN,YES
18,nf_config,8,configuration_time_col,text,NaN,YES
19,nf_config,9,configuration_target_col,text,NaN,YES
20,nf_config,10,configuration_prediction_intervals,text,NaN,YES
21,nf_config,11,configuration_cs_df,text,NaN,YES
22,nf_config,12,configuration_uids,text,NaN,YES
23,nf_config,13,configuration_last_dates,text,NaN,YES
24,nf_config,14,configuration_ds,text,NaN,YES
25,nf_config,15,sources,jsonb,NaN,YES
26,nf_config,16,created_at,timestamp without time zone,NaN,YES

[rows] 1

,id,configuration_h,configuration_freq,configuration_fitted,configuration_local_scaler_type,configuration_scalers,configuration_id_col,configuration_time_col,configuration_target_col,configuration_prediction_intervals,configuration_cs_df,configuration_uids,configuration_last_dates,configuration_ds,sources,created_at
0,1,1,'D',True,'robust-iqr',"{'y': <coreforecast.scalers.LocalRobustScaler object at 0x000001D8B4498110>, 'ft__y': <coreforecast.scalers.LocalRobustScaler object at 0x000001D8B4498350>, 'zscore_20': <coreforecast.scalers.Loca...",'unique_id','ds','y',None,None,"0 N1\nName: unique_id, dtype: object","DatetimeIndex(['2025-05-07'], dtype='datetime64[ns]', name='ds', freq=None)","array(['2017-11-15T00:00:00.000000000', '2017-11-22T00:00:00.000000000',\n '2017-11-29T00:00:00.000000000', '2017-12-06T00:00:00.000000000',\n '2017-12-20T00:00:00.000000000', '2017-12...","{'configuration_h': 'pkl.configuration.pkl', 'configuration_ds': 'pkl.configuration.pkl', 'configuration_freq': 'pkl.configuration.pkl', 'configuration_uids': 'pkl.configuration.pkl', 'configurati...",2025-11-11 11:04:02.485786

=== nf_dataset_profile ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
27,nf_dataset_profile,1,id,integer,NaN,NO
28,nf_dataset_profile,2,model_dir_hash,character varying,64.0,YES
29,nf_dataset_profile,3,n_series,integer,NaN,YES
30,nf_dataset_profile,4,n_temporal,integer,NaN,YES
31,nf_dataset_profile,5,total_observations,bigint,NaN,YES
32,nf_dataset_profile,6,mean_value,real,NaN,YES
33,nf_dataset_profile,7,std_value,real,NaN,YES
34,nf_dataset_profile,8,min_value,real,NaN,YES
35,nf_dataset_profile,9,max_value,real,NaN,YES
36,nf_dataset_profile,10,zero_rate,real,NaN,YES
37,nf_dataset_profile,11,missing_rate,real,NaN,YES
38,nf_dataset_profile,12,statistics,jsonb,NaN,YES

[rows] 0
(empty)

=== nf_dm_test ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
39,nf_dm_test,1,id,bigint,NaN,NO
40,nf_dm_test,2,run_a,integer,NaN,YES
41,nf_dm_test,3,run_b,integer,NaN,YES
42,nf_dm_test,4,split,text,NaN,YES
43,nf_dm_test,5,fold,integer,NaN,YES
44,nf_dm_test,6,loss,text,NaN,YES
45,nf_dm_test,7,dm_stat,double precision,NaN,YES
46,nf_dm_test,8,p_value,double precision,NaN,YES
47,nf_dm_test,9,alternative,text,NaN,YES
48,nf_dm_test,10,created_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_drift ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
49,nf_drift,1,id,bigint,NaN,NO
50,nf_drift,2,run_id,integer,NaN,YES
51,nf_drift,3,feature,text,NaN,YES
52,nf_drift,4,test,text,NaN,YES
53,nf_drift,5,stat,double precision,NaN,YES
54,nf_drift,6,p_value,double precision,NaN,YES
55,nf_drift,7,period_a,text,NaN,YES
56,nf_drift,8,period_b,text,NaN,YES
57,nf_drift,9,created_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_eval_interval ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
58,nf_eval_interval,1,id,bigint,NaN,NO
59,nf_eval_interval,2,run_id,integer,NaN,YES
60,nf_eval_interval,3,split,text,NaN,YES
61,nf_eval_interval,4,fold,integer,NaN,YES
62,nf_eval_interval,5,alpha,double precision,NaN,YES
63,nf_eval_interval,6,metric,text,NaN,YES
64,nf_eval_interval,7,value,double precision,NaN,YES
65,nf_eval_interval,8,created_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_eval_point ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
66,nf_eval_point,1,id,bigint,NaN,NO
67,nf_eval_point,2,run_id,integer,NaN,YES
68,nf_eval_point,3,split,text,NaN,YES
69,nf_eval_point,4,fold,integer,NaN,YES
70,nf_eval_point,5,scope,text,NaN,YES
71,nf_eval_point,6,unique_id,text,NaN,YES
72,nf_eval_point,7,metric,text,NaN,YES
73,nf_eval_point,8,value,double precision,NaN,YES
74,nf_eval_point,9,n_obs,integer,NaN,YES
75,nf_eval_point,10,created_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_forecasts ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
76,nf_forecasts,1,id,bigint,NaN,NO
77,nf_forecasts,2,run_id,integer,NaN,YES
78,nf_forecasts,3,split,text,NaN,YES
79,nf_forecasts,4,fold,integer,NaN,YES
80,nf_forecasts,5,unique_id,text,NaN,YES
81,nf_forecasts,6,ds,timestamp without time zone,NaN,YES
82,nf_forecasts,7,y,double precision,NaN,YES
83,nf_forecasts,8,yhat,double precision,NaN,YES
84,nf_forecasts,9,quantiles,jsonb,NaN,YES
85,nf_forecasts,10,created_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_hparams ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
86,nf_hparams,1,id,integer,NaN,NO
87,nf_hparams,2,hparams_h,text,NaN,YES
88,nf_hparams,3,hparams_input_size,text,NaN,YES
89,nf_hparams,4,hparams_loss,text,NaN,YES
90,nf_hparams,5,hparams_valid_loss,text,NaN,YES
91,nf_hparams,6,hparams_learning_rate,text,NaN,YES
92,nf_hparams,7,hparams_max_steps,text,NaN,YES
93,nf_hparams,8,hparams_val_check_steps,text,NaN,YES
94,nf_hparams,9,hparams_batch_size,text,NaN,YES
95,nf_hparams,10,hparams_valid_batch_size,text,NaN,YES
96,nf_hparams,11,hparams_windows_batch_size,text,NaN,YES
97,nf_hparams,12,hparams_inference_windows_batch_size,text,NaN,YES
98,nf_hparams,13,hparams_start_padding_enabled,text,NaN,YES
99,nf_hparams,14,hparams_training_data_availability_threshold,text,NaN,YES
100,nf_hparams,15,hparams_n_series,text,NaN,YES
101,nf_hparams,16,hparams_n_samples,text,NaN,YES
102,nf_hparams,17,hparams_h_train,text,NaN,YES
103,nf_hparams,18,hparams_inference_input_size,text,NaN,YES
104,nf_hparams,19,hparams_step_size,text,NaN,YES
105,nf_hparams,20,hparams_num_lr_decays,text,NaN,YES
106,nf_hparams,21,hparams_early_stop_patience_steps,text,NaN,YES
107,nf_hparams,22,hparams_scaler_type,text,NaN,YES
108,nf_hparams,23,hparams_futr_exog_list,text,NaN,YES
109,nf_hparams,24,hparams_hist_exog_list,text,NaN,YES
110,nf_hparams,25,hparams_stat_exog_list,text,NaN,YES
111,nf_hparams,26,hparams_exclude_insample_y,text,NaN,YES
112,nf_hparams,27,hparams_drop_last_loader,text,NaN,YES
113,nf_hparams,28,hparams_random_seed,text,NaN,YES
114,nf_hparams,29,hparams_alias,text,NaN,YES
115,nf_hparams,30,hparams_optimizer,text,NaN,YES
116,nf_hparams,31,hparams_optimizer_kwargs,text,NaN,YES
117,nf_hparams,32,hparams_lr_scheduler,text,NaN,YES
118,nf_hparams,33,hparams_lr_scheduler_kwargs,text,NaN,YES
119,nf_hparams,34,hparams_dataloader_kwargs,text,NaN,YES
120,nf_hparams,35,hparams_grid_size,text,NaN,YES
121,nf_hparams,36,hparams_spline_order,text,NaN,YES
122,nf_hparams,37,hparams_scale_noise,text,NaN,YES
123,nf_hparams,38,hparams_scale_base,text,NaN,YES
124,nf_hparams,39,hparams_scale_spline,text,NaN,YES
125,nf_hparams,40,hparams_enable_standalone_scale_spline,text,NaN,YES
126,nf_hparams,41,hparams_grid_eps,text,NaN,YES
127,nf_hparams,42,hparams_grid_range,text,NaN,YES
128,nf_hparams,43,hparams_n_hidden_layers,text,NaN,YES
129,nf_hparams,44,hparams_hidden_size,text,NaN,YES
130,nf_hparams,45,sources,jsonb,NaN,YES
131,nf_hparams,46,created_at,timestamp without time zone,NaN,YES

[rows] 1

,id,hparams_h,hparams_input_size,hparams_loss,hparams_valid_loss,hparams_learning_rate,hparams_max_steps,hparams_val_check_steps,hparams_batch_size,hparams_valid_batch_size,...,hparams_scale_noise,hparams_scale_base,hparams_scale_spline,hparams_enable_standalone_scale_spline,hparams_grid_eps,hparams_grid_range,hparams_n_hidden_layers,hparams_hidden_size,sources,created_at
0,1,1,137,MAE(),MAE(),0.001,600,100,32,None,...,0.1,1.0,1.0,True,0.02,"[-1, 1]",1,512,"{'hparams_h': 'model.hparams', 'hparams_loss': 'model.hparams', 'hparams_alias': 'model.hparams', 'hparams_h_train': 'model.hparams', 'hparams_grid_eps': 'model.hparams', 'hparams_n_series': 'mode...",2025-11-11 11:04:02.485786

=== nf_metrics ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
132,nf_metrics,1,metric_id,bigint,NaN,NO
133,nf_metrics,2,run_id,bigint,NaN,YES
134,nf_metrics,3,model_id,bigint,NaN,YES
135,nf_metrics,4,scope,text,NaN,YES
136,nf_metrics,5,unique_id,text,NaN,YES
137,nf_metrics,6,period,text,NaN,YES
138,nf_metrics,7,name,text,NaN,YES
139,nf_metrics,8,value,double precision,NaN,YES

[rows] 0
(empty)

=== nf_model ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
140,nf_model,1,id,integer,NaN,NO
141,nf_model,2,training,text,NaN,YES
142,nf_model,3,prepare_data_per_node,text,NaN,YES
143,nf_model,4,allow_zero_length_dataloader_with_multiple_devices,text,NaN,YES
144,nf_model,5,n_series,text,NaN,YES
...,...,...,...,...,...,...
197,nf_model,58,base_activation,text,NaN,YES
198,nf_model,59,grid_eps,text,NaN,YES
199,nf_model,60,grid_range,text,NaN,YES
200,nf_model,61,sources,jsonb,NaN,YES
201,nf_model,62,created_at,timestamp without time zone,NaN,YES

[rows] 1

,id,training,prepare_data_per_node,allow_zero_length_dataloader_with_multiple_devices,n_series,n_predicts,horizon_backup,input_size_backup,n_samples,random_seed,...,spline_order,scale_noise,scale_base,scale_spline,enable_standalone_scale_spline,base_activation,grid_eps,grid_range,sources,created_at
0,1,True,True,False,1,1,1,137,100,1,...,3,0.1,1.0,1.0,True,<class 'torch.nn.modules.activation.SiLU'>,0.02,"[-1, 1]","{'h': 'model.__dict__', 'alias': 'model.__dict__', 'grid_eps': 'model.__dict__', 'n_series': 'model.__dict__', 'training': 'model.__dict__', 'val_size': 'model.__dict__', 'grid_size': 'model.__dic...",2025-11-11 11:04:02.485786

=== nf_model_complexity ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
202,nf_model_complexity,1,id,integer,NaN,NO
203,nf_model_complexity,2,model_dir_hash,character varying,64.0,YES
204,nf_model_complexity,3,param_efficiency,real,NaN,YES
205,nf_model_complexity,4,depth,integer,NaN,YES
206,nf_model_complexity,5,width,integer,NaN,YES
207,nf_model_complexity,6,memory_mb,real,NaN,YES
208,nf_model_complexity,7,complexity_category,character varying,20.0,YES

[rows] 0
(empty)

=== nf_model_diagnosis ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
209,nf_model_diagnosis,1,id,integer,NaN,NO
210,nf_model_diagnosis,2,model_dir_hash,character varying,64.0,YES
211,nf_model_diagnosis,3,overall_score,real,NaN,YES
212,nf_model_diagnosis,4,weight_health,character varying,20.0,YES
213,nf_model_diagnosis,5,convergence_status,character varying,50.0,YES
214,nf_model_diagnosis,6,recommendations,jsonb,NaN,YES
215,nf_model_diagnosis,7,diagnosed_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_model_profile ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
216,nf_model_profile,1,id,integer,NaN,NO
217,nf_model_profile,2,model_dir_hash,character varying,64.0,NO
218,nf_model_profile,3,model_alias,character varying,100.0,YES
219,nf_model_profile,4,model_class,character varying,100.0,YES
220,nf_model_profile,5,h,integer,NaN,YES
221,nf_model_profile,6,input_size,integer,NaN,YES
222,nf_model_profile,7,freq,character varying,10.0,YES
223,nf_model_profile,8,total_params,bigint,NaN,YES
224,nf_model_profile,9,trainable_params,bigint,NaN,YES
225,nf_model_profile,10,hyperparameters,jsonb,NaN,YES
226,nf_model_profile,11,analyzed_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_models ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
227,nf_models,1,model_id,bigint,NaN,NO
228,nf_models,2,run_id,bigint,NaN,YES
229,nf_models,3,model_dir,text,NaN,YES
230,nf_models,4,model_name,text,NaN,YES
231,nf_models,5,alias_json,jsonb,NaN,YES
232,nf_models,6,config_json,jsonb,NaN,YES
233,nf_models,7,freq,text,NaN,YES
234,nf_models,8,h,integer,NaN,YES
235,nf_models,9,loss,text,NaN,YES
236,nf_models,10,scaler,text,NaN,YES

[rows] 58

,model_id,run_id,model_dir,model_name,alias_json,config_json,freq,h,loss,scaler
0,1,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoDilatedRNN)_N(1)_unique_id(N7)_h(1)_loss(HuberLoss())_local_scaler_type(ro...,autodilatedrnn,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoDilatedRNN)_N(1)_unique_id(N7)_h(1)_loss(HuberLoss())_local_scaler_type(robust-iqr)_num(10000)_freq(D)_num_samples(40)_backend(optuna...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151977600000...",D,1,None,robust-iqr
1,2,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoDilatedRNN)_N(1)_unique_id(N8)_h(1)_loss(HuberLoss())_local_scaler_type(ro...,autodilatedrnn,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoDilatedRNN)_N(1)_unique_id(N8)_h(1)_loss(HuberLoss())_local_scaler_type(robust-iqr)_num(10000)_freq(D)_num_samples(40)_backend(optuna...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,robust-iqr
2,3,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N5)_h(1)_loss(HuberLoss())_local_scaler_type(...,autoitransformer,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N5)_h(1)_loss(HuberLoss())_local_scaler_type(minmax)_num(10000)_freq(D)_num_samples(40)_backend(optuna)_...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,minmax
3,4,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N6)_h(1)_loss(HuberLoss())_local_scaler_type(...,autoitransformer,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N6)_h(1)_loss(HuberLoss())_local_scaler_type(minmax)_num(10000)_freq(D)_num_samples(40)_backend(optuna)_...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,minmax
4,5,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N7)_h(1)_loss(HuberLoss())_local_scaler_type(...,autoitransformer,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N7)_h(1)_loss(HuberLoss())_local_scaler_type(minmax)_num(10000)_freq(D)_num_samples(40)_backend(optuna)_...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151977600000...",D,1,None,minmax
5,6,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N8)_h(1)_loss(HuberLoss())_local_scaler_type(...,autoitransformer,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoiTransformer)_N(1)_unique_id(N8)_h(1)_loss(HuberLoss())_local_scaler_type(minmax)_num(10000)_freq(D)_num_samples(40)_backend(optuna)_...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,minmax
6,7,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoKAN)_N(1)_unique_id(N1)_h(1)_loss(MAE())_local_scaler_type(robust-iqr)_num...,autokan,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoKAN)_N(1)_unique_id(N1)_h(1)_loss(MAE())_local_scaler_type(robust-iqr)_num(10000)_freq(D)_num_samples(40)_backend(ray)_val_rate(6)_co...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,robust-iqr
7,8,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoKAN)_N(1)_unique_id(N2)_h(1)_loss(MAE())_local_scaler_type(robust-iqr)_num...,autokan,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoKAN)_N(1)_unique_id(N2)_h(1)_loss(MAE())_local_scaler_type(robust-iqr)_num(10000)_freq(D)_num_samples(40)_backend(ray)_val_rate(6)_co...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,robust-iqr
8,9,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoKAN)_N(1)_unique_id(N3)_h(1)_loss(MAE())_local_scaler_type(robust-iqr)_num...,autokan,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoKAN)_N(1)_unique_id(N3)_h(1)_loss(MAE())_local_scaler_type(robust-iqr)_num(10000)_freq(D)_num_samples(40)_backend(ray)_val_rate(6)_co...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,robust-iqr
9,10,5,C:\Users\hashimoto.ryohei\Downloads\zip\unzipped_model\model\dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoMLP)_N(1)_unique_id(N2)_h(1)_loss(HuberLoss())_local_scaler_type(robust-iq...,automlp,{'dir(data_long)_parent_dir(N_features)_loto(bingo5)_model(AutoMLP)_N(1)_unique_id(N2)_h(1)_loss(HuberLoss())_local_scaler_type(robust-iqr)_num(10000)_freq(D)_num_samples(40)_backend(optuna)_val_r...,"{'h': 1, 'ds': [1510704000000000000, 1511308800000000000, 1511913600000000000, 1512518400000000000, 1513728000000000000, 1514332800000000000, 1516752000000000000, 1517356800000000000, 151796160000...",D,1,None,robust-iqr

=== nf_optimization_suggestions ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
237,nf_optimization_suggestions,1,id,integer,NaN,NO
238,nf_optimization_suggestions,2,model_dir_hash,character varying,64.0,YES
239,nf_optimization_suggestions,3,category,character varying,50.0,YES
240,nf_optimization_suggestions,4,parameter_name,character varying,100.0,YES
241,nf_optimization_suggestions,5,current_value,text,NaN,YES
242,nf_optimization_suggestions,6,suggested_value,text,NaN,YES
243,nf_optimization_suggestions,7,expected_impact,text,NaN,YES
244,nf_optimization_suggestions,8,priority,integer,NaN,YES

[rows] 0
(empty)

=== nf_parameter_sensitivity ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
245,nf_parameter_sensitivity,1,id,integer,NaN,NO
246,nf_parameter_sensitivity,2,model_dir_hash,character varying,64.0,YES
247,nf_parameter_sensitivity,3,parameter_name,character varying,100.0,YES
248,nf_parameter_sensitivity,4,parameter_value,text,NaN,YES
249,nf_parameter_sensitivity,5,importance_score,integer,NaN,YES
250,nf_parameter_sensitivity,6,category,character varying,50.0,YES

[rows] 0
(empty)

=== nf_pkl ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
251,nf_pkl,1,id,integer,NaN,NO
252,nf_pkl,2,alias_to_model_dir_data_long_parent_dir_n_features_loto_bingo5_,text,NaN,YES
253,nf_pkl,3,dataset,text,NaN,YES
254,nf_pkl,4,sources,jsonb,NaN,YES
255,nf_pkl,5,created_at,timestamp without time zone,NaN,YES

[rows] 1

,id,alias_to_model_dir_data_long_parent_dir_n_features_loto_bingo5_,dataset,sources,created_at
0,1,'autokan',"TimeSeriesDataset(n_data=373, n_groups=1)","{'dataset': 'pkl.dataset.pkl', 'alias_to_model_dir_data_long_parent_dir_n_features_loto_bingo5_': 'pkl.alias_to_model.pkl'}",2025-11-11 11:04:02.485786

=== nf_predictions ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
256,nf_predictions,1,run_id,bigint,NaN,NO
257,nf_predictions,2,model_id,bigint,NaN,NO
258,nf_predictions,3,unique_id,text,NaN,NO
259,nf_predictions,4,ds,timestamp with time zone,NaN,NO
260,nf_predictions,5,cutoff,timestamp with time zone,NaN,NO
261,nf_predictions,6,yhat,double precision,NaN,YES
262,nf_predictions,7,y,double precision,NaN,YES

[rows] 0
(empty)

=== nf_quantiles ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
263,nf_quantiles,1,run_id,bigint,NaN,NO
264,nf_quantiles,2,model_id,bigint,NaN,NO
265,nf_quantiles,3,unique_id,text,NaN,NO
266,nf_quantiles,4,ds,timestamp with time zone,NaN,NO
267,nf_quantiles,5,q,double precision,NaN,NO
268,nf_quantiles,6,yhat_q,double precision,NaN,YES

[rows] 0
(empty)

=== nf_residual_stats ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
269,nf_residual_stats,1,id,bigint,NaN,NO
270,nf_residual_stats,2,run_id,integer,NaN,YES
271,nf_residual_stats,3,split,text,NaN,YES
272,nf_residual_stats,4,fold,integer,NaN,YES
273,nf_residual_stats,5,scope,text,NaN,YES
274,nf_residual_stats,6,unique_id,text,NaN,YES
275,nf_residual_stats,7,mean,double precision,NaN,YES
276,nf_residual_stats,8,std,double precision,NaN,YES
277,nf_residual_stats,9,mae,double precision,NaN,YES
278,nf_residual_stats,10,rmse,double precision,NaN,YES
279,nf_residual_stats,11,skew,double precision,NaN,YES
280,nf_residual_stats,12,kurt,double precision,NaN,YES
281,nf_residual_stats,13,acf1,double precision,NaN,YES
282,nf_residual_stats,14,lb_pvalue,double precision,NaN,YES
283,nf_residual_stats,15,created_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_run ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
284,nf_run,1,id,integer,NaN,NO
285,nf_run,2,model_name,text,NaN,YES
286,nf_run,3,model_class,text,NaN,YES
287,nf_run,4,model_dir,text,NaN,YES
288,nf_run,5,freq,text,NaN,YES
289,nf_run,6,h,integer,NaN,YES
290,nf_run,7,nf_version,text,NaN,YES
291,nf_run,8,torch_version,text,NaN,YES
292,nf_run,9,params,jsonb,NaN,YES
293,nf_run,10,created_at,timestamp without time zone,NaN,YES

[rows] 0
(empty)

=== nf_runs ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
294,nf_runs,1,run_id,bigint,NaN,NO
295,nf_runs,2,started_at,timestamp with time zone,NaN,YES
296,nf_runs,3,host,text,NaN,YES
297,nf_runs,4,python_ver,text,NaN,YES
298,nf_runs,5,torch_ver,text,NaN,YES
299,nf_runs,6,nf_ver,text,NaN,YES
300,nf_runs,7,note,text,NaN,YES

[rows] 7

,run_id,started_at,host,python_ver,torch_ver,nf_ver,note
0,1,2025-11-11 05:06:21.435651+00:00,unknown,3.11.13,2.6.0+cpu,3.1.2,nf_psql_runner auto-ingest
1,2,2025-11-11 05:06:51.530827+00:00,unknown,3.11.13,2.6.0+cpu,3.1.2,nf_psql_runner auto-ingest
2,3,2025-11-11 05:07:33.253003+00:00,unknown,3.11.13,2.6.0+cpu,3.1.2,nf_psql_runner auto-ingest
3,4,2025-11-11 05:07:44.879951+00:00,unknown,3.11.13,2.6.0+cpu,3.1.2,nf_psql_runner auto-ingest
4,5,2025-11-11 05:09:42.266630+00:00,unknown,3.11.13,2.6.0+cpu,3.1.2,nf_psql_runner auto-ingest
5,6,2025-11-11 05:09:58.816738+00:00,unknown,3.11.13,2.6.0+cpu,3.1.2,nf_psql_runner auto-ingest
6,7,2025-11-11 05:10:51.273116+00:00,unknown,3.11.13,2.6.0+cpu,3.1.2,nf_psql_runner auto-ingest

=== nf_series ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
301,nf_series,1,series_id,bigint,NaN,NO
302,nf_series,2,run_id,bigint,NaN,YES
303,nf_series,3,unique_id,text,NaN,YES

[rows] 0
(empty)

=== nf_training_state ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
304,nf_training_state,1,id,integer,NaN,NO
305,nf_training_state,2,model_dir_hash,character varying,64.0,YES
306,nf_training_state,3,epoch,integer,NaN,YES
307,nf_training_state,4,global_step,integer,NaN,YES
308,nf_training_state,5,early_stopped,boolean,NaN,YES
309,nf_training_state,6,final_lr,real,NaN,YES
310,nf_training_state,7,checkpoint_size_mb,real,NaN,YES
311,nf_training_state,8,optimizer_state,jsonb,NaN,YES

[rows] 0
(empty)

=== nf_weight_statistics ===

,table_name,ordinal_position,column_name,data_type,character_maximum_length,is_nullable
312,nf_weight_statistics,1,id,integer,NaN,NO
313,nf_weight_statistics,2,model_dir_hash,character varying,64.0,YES
314,nf_weight_statistics,3,layer_name,character varying,200.0,YES
315,nf_weight_statistics,4,layer_type,character varying,50.0,YES
316,nf_weight_statistics,5,param_count,integer,NaN,YES
317,nf_weight_statistics,6,mean_val,real,NaN,YES
318,nf_weight_statistics,7,std_val,real,NaN,YES
319,nf_weight_statistics,8,min_val,real,NaN,YES
320,nf_weight_statistics,9,max_val,real,NaN,YES
321,nf_weight_statistics,10,l1_norm,real,NaN,YES
322,nf_weight_statistics,11,l2_norm,real,NaN,YES
323,nf_weight_statistics,12,sparsity,real,NaN,YES
324,nf_weight_statistics,13,outlier_ratio,real,NaN,YES
325,nf_weight_statistics,14,health_score,integer,NaN,YES

[rows] 0
(empty)