# ts_loto_feature_system 運用ノート（実行＆確認集）

このノートブックは、PostgreSQLの接続確認・テーブル点検・特徴量生成スクリプトの実行・結果検証を一式で行える「運用ノート」です。  
**想定配置**: プロジェクト直下（`loto_feature_system_v2/` のルート）で実行。

---

## 収録内容（ざっくり）
- 依存関係（必要に応じて）インストール
- プロジェクトルート／`PYTHONPATH` 設定
- `config/db_config.yaml` からDB接続情報を取得（なければ環境変数を利用）
- 接続スモークテスト（DBバージョンなど）
- `features_hist` / `features_futr` / `features_stat` の列数・行数・サンプル表示・簡易品質確認（重複/欠損）
- `scripts/generate_features_simple.py` の実行（再生成）
- 再度の点検・サンプルCSVエクスポート

> **注意**: パスワードを平文で扱いたくない場合は `.pgpass` を使用してください（ノート内の説明参照）。

## 0) 依存関係（必要に応じて）
すでに環境が整っている場合は **このセルはスキップ** してください。

In [1]:
# %%capture
# 必要な場合のみ実行してください（ネットワークに出られる環境前提）。
# %pip install SQLAlchemy psycopg2-binary PyYAML pandas tqdm
# %pip install ipython-sql
print("依存関係のインストールはスキップ可能です。")

依存関係のインストールはスキップ可能です。

## 1) プロジェクトルートとモジュールパス設定
ノートブックをプロジェクト直下で開いていない場合は、`PROJECT_ROOT` を適宜書き換えてください。

In [2]:
from pathlib import Path
import os, sys, warnings
warnings.filterwarnings("ignore")

# プロジェクトのルート推定（このノートを置く位置に応じて調整）
PROJECT_ROOT = Path(os.getcwd())  # ルートで開いていればそのままでOK
# 例: PROJECT_ROOT = Path("/mnt/e/env/ts/loto_feature_system_v2")

print("PROJECT_ROOT =", PROJECT_ROOT)

# src を import path に追加
src_path = PROJECT_ROOT / "src"
if str(src_path) not in sys.path:
    sys.path.insert(0, str(src_path))
print("sys.path に追加:", src_path.exists(), src_path)

PROJECT_ROOT = c:\nf\loto_feature_system_v2
sys.path に追加: True c:\nf\loto_feature_system_v2\src

## 2) DB接続パラメータの読込（YAML → 環境変数 fallback）

In [3]:
import os, yaml, json
from pathlib import Path

def load_db_config(project_root: Path):
    # config/db_config.yaml を優先的に読み込み、
    # 無ければ環境変数（PGHOST, PGPORT, PGDATABASE, PGUSER, PGPASSWORD）を参照。
    cfg_path = project_root / "config" / "db_config.yaml"
    cfg = {}
    if cfg_path.exists():
        with open(cfg_path, "r", encoding="utf-8") as f:
            raw = yaml.safe_load(f) or {}
        cfg = {
            "host": str(raw.get("host", os.getenv("PGHOST", "localhost"))),
            "port": int(raw.get("port", os.getenv("PGPORT", 5432))),
            "database": str(raw.get("database", os.getenv("PGDATABASE", "postgres"))),
            "user": str(raw.get("user", os.getenv("PGUSER", "postgres"))),
            "password": str(raw.get("password", os.getenv("PGPASSWORD", ""))),
        }
        cfg["source"] = f"YAML: {cfg_path}"
    else:
        cfg = {
            "host": os.getenv("PGHOST", "localhost"),
            "port": int(os.getenv("PGPORT", 5432)),
            "database": os.getenv("PGDATABASE", "postgres"),
            "user": os.getenv("PGUSER", "postgres"),
            "password": os.getenv("PGPASSWORD", "z"),
            "source": "ENV",
        }
    return cfg

db_cfg = load_db_config(PROJECT_ROOT)

def mask(pwd: str) -> str:
    if not pwd:
        return "(empty)"
    return pwd[:2] + "*" * max(0, len(pwd) - 2)

print("DB設定（", db_cfg.get("source"), "から読込）")
print(json.dumps({k: (mask(v) if k=="password" else v) for k,v in db_cfg.items() if k != "source"}, ensure_ascii=False, indent=2))

DB設定（ ENV から読込）
{
  "host": "localhost",
  "port": 5432,
  "database": "postgres",
  "user": "postgres",
  "password": "z"
}

## 3) SQLAlchemy エンジン作成＆スモークテスト

In [4]:
from sqlalchemy import create_engine, text
import pandas as pd

# DSN 作成
dsn = f"postgresql+psycopg2://{db_cfg['user']}:{db_cfg['password']}@{db_cfg['host']}:{db_cfg['port']}/{db_cfg['database']}"
engine = create_engine(dsn, pool_pre_ping=True, future=True)
print("Engine 作成:", engine)

with engine.begin() as con:
    v = con.execute(text("SELECT version()")).scalar()
    who = con.execute(text("SELECT current_user")).scalar()
    dbn = con.execute(text("SELECT current_database()")).scalar()
    print("version  :", v)
    print("user/db  :", who, "/", dbn)

Engine 作成: Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)
version  : PostgreSQL 17.6 on x86_64-windows, compiled by msvc-19.44.35217, 64-bit
user/db  : postgres / postgres

## 4) テーブル構成のざっくり確認（列数・推定行数）

In [5]:
from sqlalchemy import text

tables = ["features_hist", "features_futr", "features_stat"]

q = text("""
SELECT 
    table_name,
    (SELECT COUNT(*) FROM information_schema.columns c WHERE c.table_name = t.table_name) AS column_count,
    (SELECT reltuples::bigint FROM pg_class WHERE relname = t.table_name)                AS row_count
FROM (VALUES ('features_hist'), ('features_futr'), ('features_stat')) AS t(table_name);
""")

with engine.begin() as con:
    df_info = pd.read_sql(q, con)
df_info

      table_name  column_count row_count
0  features_hist             0      None
1  features_futr             0      None
2  features_stat             0      None

## origin

In [6]:
%%bash
export PGHOST=localhost PGPORT=5432 PGDATABASE=postgres PGUSER=postgres PGPASSWORD=z
psql -c "\dt+"             # テーブル一覧
psql -c "\d+ public.nf_loto_final"   # 列の詳細

                                                                           �����[�V�����ꗗ
 \x83X\x83L\x81[\x83} |         \x96\xBC\x91O          |     \x83^\x83C\x83v     | \x8F\x8A\x97L\x8E | \x89i\x91\xB1\x90\xAB | \x83A\x83N\x83Z\x83X\x83\x81\x83\\x83b\x83h | \x83T\x83C\x83Y | \x90���
----------------------+--------------------------------+-------------------------+-------------------+-----------------------+---------------------------------------------+-----------------+-------
 public               | accuracy_metrics               | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | datasets                       | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | directional_metrics            | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | experiments                    | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | generalization_analysis        | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | logs                           | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | model_artifacts                | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | model_metadata                 | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | nf_calibration                 | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | nf_ckpt                        | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | nf_config                      | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | nf_dataset_profile             | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_dm_test                     | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_drift                       | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_eval_interval               | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_eval_point                  | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_forecasts                   | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_hparams                     | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | nf_loto_final                  | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 13 MB           |
 public               | nf_metrics                     | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_model                       | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | nf_model_complexity            | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | nf_model_diagnosis             | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_model_profile               | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_models                      | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 224 kB          |
 public               | nf_optimization_suggestions    | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_parameter_sensitivity       | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_pkl                         | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | nf_predictions                 | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_quantiles                   | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_residual_stats              | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_run                         | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_runs                        | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | nf_series                      | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_training_state              | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | nf_weight_statistics           | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | notifications                  | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | opsmon_nf_params_ckpt          | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | opsmon_nf_params_class_default | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 64 kB           |
 public               | opsmon_nf_params_config        | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 48 kB           |
 public               | opsmon_nf_params_hparams       | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | opsmon_nf_params_json          | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | opsmon_nf_params_model         | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 128 kB          |
 public               | opsmon_nf_params_other         | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 48 kB           |
 public               | opsmon_nf_params_pkl           | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 48 kB           |
 public               | opsmon_nf_params_pytorch       | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | opsmon_nf_params_runlog        | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | opsmon_nf_params_yaml          | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | optimization_history           | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | performance_metrics            | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | predictions                    | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | residual_analysis              | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | robustness_analysis            | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | run_parameters                 | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
 public               | run_results                    | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 0 bytes         |
 public               | system_config                  | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 16 kB           |
 public               | training_runs                  | \x83e\x81[\x83u\x83\x8B | postgres          | \x89i\x91\xB1         | heap                                        | 8192 bytes      |
(57 �s)

                                                                            �e�[�u��"public.nf_loto_final"
   \x97    |       \x83^\x83C\x83v       | \x8Fƍ\x87\x8F\x87\x8F\x98 | Null \x92l\x82����e | \x83f\x83t\x83H\x83\x8B\x83g | \x83X\x83g\x83\x8C\x81[\x83W | \x88\xB3\x8Fk | \x93\x9D\x8Cv\x96ڕW | \x90���
-----------+-----------------------------+---------------------------+-------------------+------------------------------+------------------------------+---------------+---------------------+-------
 loto      | text                        |                           | not null          |                              | extended                     |               |                     |
 num       | bigint                      |                           | not null          |                              | plain                        |               |                     |
 ds        | timestamp without time zone |                           | not null          |                              | plain                        |               |                     |
 unique_id | text                        |                           | not null          |                              | extended                     |               |                     |
 y         | bigint                      |                           |                   |                              | plain                        |               |                     |
 co        | bigint                      |                           |                   |                              | plain                        |               |                     |
 n1nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n1pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n2nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n2pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n3nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n3pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n4nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n4pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n5nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n5pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n6nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n6pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n7nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n7pm      | real                        |                           |                   |                              | plain                        |               |                     |
�C���f�b�N�X:
    "nf_loto_final_pkey" PRIMARY KEY, btree (loto, num, unique_id)
    "idx_nf_loto_final_ds" btree (ds)
    "idx_nf_loto_final_loto_ds" btree (loto, ds)
    "idx_nf_loto_final_loto_num" btree (loto, num)
�A�N�Z�X���\�b�h: heap

In [7]:
# 接続ユーティリティ（YAMLの形を自動判別 & PG環境変数フォールバック）
import os, yaml, psycopg2
from pathlib import Path

def load_pg_params(yaml_path="config/db_config.yaml"):
    raw = {}
    p = Path(yaml_path)
    if p.exists():
        with p.open("r", encoding="utf-8") as f:
            raw = yaml.safe_load(f) or {}

    # 候補: postgres / db / database / pg / 直下フラット
    candidates = []
    for k in ("postgres", "db", "database", "pg"):
        v = raw.get(k)
        if isinstance(v, dict):
            candidates.append(v)
    if not candidates and any(k in raw for k in ("host","port","database","dbname","user","password")):
        candidates.append(raw)

    cfg = candidates[0] if candidates else {}

    host = cfg.get("host") or os.getenv("PGHOST", "localhost")
    port = int(cfg.get("port") or os.getenv("PGPORT", "5432"))
    dbname = cfg.get("database") or cfg.get("dbname") or os.getenv("PGDATABASE", "postgres")
    user = cfg.get("user") or os.getenv("PGUSER", "postgres")
    password = cfg.get("password") or os.getenv("PGPASSWORD", "")

    params = dict(host=host, port=port, dbname=dbname, user=user, password=password)
    # デバッグ用に何を使ったか表示
    print("PG params ->", {k: (v if k!="password" else "******") for k,v in params.items()})
    return params

pg = load_pg_params()          # config/db_config.yaml を読んで接続情報組み立て
conn = psycopg2.connect(**pg)  # ここで接続
print("connected:", pg["host"], pg["dbname"], pg["user"])

PG params -> {'host': 'localhost', 'port': 5432, 'dbname': 'postgres', 'user': 'postgres', 'password': '******'}
connected: localhost postgres postgres

In [8]:
# === nf_loto_final の健全性チェック一式 ===
import pandas as pd

SCHEMA = "public"
TABLE  = "nf_loto_final"

def q(sql, params=None):
    return pd.read_sql_query(sql, con=conn, params=params)

# 1) 列一覧（型・NULL可・順序）
cols = q("""
SELECT column_name, data_type, is_nullable, ordinal_position
FROM information_schema.columns
WHERE table_schema=%s AND table_name=%s
ORDER BY ordinal_position
""", (SCHEMA, TABLE))
display(cols)

# 2) 件数
display(q(f"SELECT COUNT(*) AS row_count FROM {SCHEMA}.{TABLE}"))

# 3) ds があれば期間（最小・最大）
has_ds = (cols["column_name"] == "ds").any()
if has_ds:
    display(q(f"SELECT MIN(ds) AS min_ds, MAX(ds) AS max_ds FROM {SCHEMA}.{TABLE}"))

# 4) 先頭サンプル（ds があれば日付順）
order = "ORDER BY ds" if has_ds else ""
display(q(f"SELECT * FROM {SCHEMA}.{TABLE} {order} LIMIT 5"))

# 5) loto の件数分布
has_loto = (cols["column_name"] == "loto").any()
if has_loto:
    display(q(f"""
        SELECT loto, COUNT(*) AS n
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1
        ORDER BY n DESC, loto
    """))

# 6) loto×unique_id の一意数（シリーズ数の把握）
has_uid = (cols["column_name"] == "unique_id").any()
if has_loto and has_uid:
    display(q(f"""
        SELECT loto, COUNT(DISTINCT unique_id) AS n_unique_series
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1
        ORDER BY loto
    """))

# 7) 主キー重複チェック（loto, unique_id, ds が揃っている場合）
key_cols = {"loto","unique_id","ds"}
if key_cols.issubset(set(cols["column_name"])):
    dup = q(f"""
        SELECT loto, unique_id, ds, COUNT(*) AS dup_cnt
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1,2,3
        HAVING COUNT(*) > 1
        ORDER BY dup_cnt DESC, loto, unique_id, ds
        LIMIT 50
    """)
    print(f"[dup count rows] {len(dup)}")
    display(dup)

# 8) 代表カラムの欠損数（存在するものだけ集計）
check_targets = [c for c in ("ds","y","loto","unique_id") if c in set(cols["column_name"])]
if check_targets:
    expr = ", ".join([f"SUM(({c} IS NULL)::int) AS null_{c}" for c in check_targets])
    display(q(f"SELECT {expr} FROM {SCHEMA}.{TABLE}"))

# 9) y の値域（あれば）
if "y" in set(cols["column_name"]):
    display(q(f"SELECT MIN(y) AS min_y, MAX(y) AS max_y, AVG(y) AS avg_y FROM {SCHEMA}.{TABLE}"))

# 10) 任意：日付×loto の件数（欠測日識別のヒント）
if has_ds and has_loto:
    display(q(f"""
        SELECT loto, DATE_TRUNC('month', ds)::date AS month, COUNT(*) AS n
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1,2
        ORDER BY 1,2
        LIMIT 200
    """))

# 11) loto×unique_id ごとのレコード数（dsがあれば期間も併記）
if has_loto and has_uid:
    if has_ds:
        series_counts = q(f"""
            SELECT
                loto,
                unique_id,
                COUNT(*)                   AS n_rows,
                MIN(ds)                    AS min_ds,
                MAX(ds)                    AS max_ds
            FROM {SCHEMA}.{TABLE}
            GROUP BY 1,2
            ORDER BY loto, unique_id
        """)
    else:
        series_counts = q(f"""
            SELECT
                loto,
                unique_id,
                COUNT(*) AS n_rows
            FROM {SCHEMA}.{TABLE}
            GROUP BY 1,2
            ORDER BY loto, unique_id
        """)
    display(series_counts)

    # 見やすいように、各loto内で件数の多い順も一緒に確認
    if "n_rows" in series_counts.columns:
        display(series_counts.sort_values(["loto","n_rows","unique_id"], ascending=[True, False, True]).head(50))

# 12) 補助: loto内のシリーズ件数とレコード数の分布（min/median/avg/max）
if has_loto and has_uid:
    series_stats = q(f"""
        WITH s AS (
            SELECT loto, unique_id, COUNT(*)::bigint AS n_rows
            FROM {SCHEMA}.{TABLE}
            GROUP BY 1,2
        )
        SELECT
            loto,
            COUNT(*)                                 AS n_series,
            SUM(n_rows)                              AS total_rows,
            MIN(n_rows)                              AS min_rows,
            PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY n_rows) AS p50_rows,
            AVG(n_rows)::numeric(20,2)               AS avg_rows,
            MAX(n_rows)                              AS max_rows
        FROM s
        GROUP BY loto
        ORDER BY loto
    """)
    display(series_stats)

   column_name                    data_type is_nullable  ordinal_position
0         loto                         text          NO                 1
1          num                       bigint          NO                 2
2           ds  timestamp without time zone          NO                 3
3    unique_id                         text          NO                 4
4            y                       bigint         YES                 5
5           co                       bigint         YES                 6
6         n1nu                         real         YES                 7
7         n1pm                         real         YES                 8
8         n2nu                         real         YES                 9
9         n2pm                         real         YES                10
10        n3nu                         real         YES                11
11        n3pm                         real         YES                12
12        n4nu                         real         YES                13
13        n4pm                         real         YES                14
14        n5nu                         real         YES                15
15        n5pm                         real         YES                16
16        n6nu                         real         YES                17
17        n6pm                         real         YES                18
18        n7nu                         real         YES                19
19        n7pm                         real         YES                20

   row_count
0      75202

      min_ds     max_ds
0 1994-10-07 2025-11-12

,loto,num,ds,unique_id,y,co,n1nu,n1pm,n2nu,n2pm,n3nu,n3pm,n4nu,n4pm,n5nu,n5pm,n6nu,n6pm,n7nu,n7pm
0,num3,1,1994-10-07,N1,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,num3,1,1994-10-07,N2,9,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,num3,1,1994-10-07,N3,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,num4,1,1994-10-07,N1,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,num4,1,1994-10-07,N2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

     loto      n
0    num4  27420
1    num3  20565
2   loto6  12300
3    mini   6800
4   loto7   4557
5  bingo5   3560

     loto  n_unique_series
0  bingo5                8
1   loto6                6
2   loto7                7
3    mini                5
4    num3                3
5    num4                4

[dup count rows] 0

Empty DataFrame
Columns: [loto, unique_id, ds, dup_cnt]
Index: []

   null_ds  null_y  null_loto  null_unique_id
0        0       0          0               0

   min_y  max_y      avg_y
0      0     43  10.083495

       loto       month   n
0    bingo5  2017-04-01  32
1    bingo5  2017-05-01  40
2    bingo5  2017-06-01  32
3    bingo5  2017-07-01  32
4    bingo5  2017-08-01  40
..      ...         ...  ..
195   loto6  2008-05-01  30
196   loto6  2008-06-01  24
197   loto6  2008-07-01  30
198   loto6  2008-08-01  24
199   loto6  2008-09-01  24

[200 rows x 3 columns]

      loto unique_id  n_rows     min_ds     max_ds
0   bingo5        N1     445 2017-04-05 2025-11-12
1   bingo5        N2     445 2017-04-05 2025-11-12
2   bingo5        N3     445 2017-04-05 2025-11-12
3   bingo5        N4     445 2017-04-05 2025-11-12
4   bingo5        N5     445 2017-04-05 2025-11-12
5   bingo5        N6     445 2017-04-05 2025-11-12
6   bingo5        N7     445 2017-04-05 2025-11-12
7   bingo5        N8     445 2017-04-05 2025-11-12
8    loto6        N1    2050 2000-10-05 2025-11-10
9    loto6        N2    2050 2000-10-05 2025-11-10
10   loto6        N3    2050 2000-10-05 2025-11-10
11   loto6        N4    2050 2000-10-05 2025-11-10
12   loto6        N5    2050 2000-10-05 2025-11-10
13   loto6        N6    2050 2000-10-05 2025-11-10
14   loto7        N1     651 2013-04-05 2025-11-07
15   loto7        N2     651 2013-04-05 2025-11-07
16   loto7        N3     651 2013-04-05 2025-11-07
17   loto7        N4     651 2013-04-05 2025-11-07
18   loto7        N5     651 2013-04-05 2025-11-07
19   loto7        N6     651 2013-04-05 2025-11-07
20   loto7        N7     651 2013-04-05 2025-11-07
21    mini        N1    1360 1999-04-13 2025-11-11
22    mini        N2    1360 1999-04-13 2025-11-11
23    mini        N3    1360 1999-04-13 2025-11-11
24    mini        N4    1360 1999-04-13 2025-11-11
25    mini        N5    1360 1999-04-13 2025-11-11
26    num3        N1    6855 1994-10-07 2025-11-12
27    num3        N2    6855 1994-10-07 2025-11-12
28    num3        N3    6855 1994-10-07 2025-11-12
29    num4        N1    6855 1994-10-07 2025-11-12
30    num4        N2    6855 1994-10-07 2025-11-12
31    num4        N3    6855 1994-10-07 2025-11-12
32    num4        N4    6855 1994-10-07 2025-11-12

      loto unique_id  n_rows     min_ds     max_ds
0   bingo5        N1     445 2017-04-05 2025-11-12
1   bingo5        N2     445 2017-04-05 2025-11-12
2   bingo5        N3     445 2017-04-05 2025-11-12
3   bingo5        N4     445 2017-04-05 2025-11-12
4   bingo5        N5     445 2017-04-05 2025-11-12
5   bingo5        N6     445 2017-04-05 2025-11-12
6   bingo5        N7     445 2017-04-05 2025-11-12
7   bingo5        N8     445 2017-04-05 2025-11-12
8    loto6        N1    2050 2000-10-05 2025-11-10
9    loto6        N2    2050 2000-10-05 2025-11-10
10   loto6        N3    2050 2000-10-05 2025-11-10
11   loto6        N4    2050 2000-10-05 2025-11-10
12   loto6        N5    2050 2000-10-05 2025-11-10
13   loto6        N6    2050 2000-10-05 2025-11-10
14   loto7        N1     651 2013-04-05 2025-11-07
15   loto7        N2     651 2013-04-05 2025-11-07
16   loto7        N3     651 2013-04-05 2025-11-07
17   loto7        N4     651 2013-04-05 2025-11-07
18   loto7        N5     651 2013-04-05 2025-11-07
19   loto7        N6     651 2013-04-05 2025-11-07
20   loto7        N7     651 2013-04-05 2025-11-07
21    mini        N1    1360 1999-04-13 2025-11-11
22    mini        N2    1360 1999-04-13 2025-11-11
23    mini        N3    1360 1999-04-13 2025-11-11
24    mini        N4    1360 1999-04-13 2025-11-11
25    mini        N5    1360 1999-04-13 2025-11-11
26    num3        N1    6855 1994-10-07 2025-11-12
27    num3        N2    6855 1994-10-07 2025-11-12
28    num3        N3    6855 1994-10-07 2025-11-12
29    num4        N1    6855 1994-10-07 2025-11-12
30    num4        N2    6855 1994-10-07 2025-11-12
31    num4        N3    6855 1994-10-07 2025-11-12
32    num4        N4    6855 1994-10-07 2025-11-12

     loto  n_series  total_rows  min_rows  p50_rows  avg_rows  max_rows
0  bingo5         8      3560.0       445     445.0     445.0       445
1   loto6         6     12300.0      2050    2050.0    2050.0      2050
2   loto7         7      4557.0       651     651.0     651.0       651
3    mini         5      6800.0      1360    1360.0    1360.0      1360
4    num3         3     20565.0      6855    6855.0    6855.0      6855
5    num4         4     27420.0      6855    6855.0    6855.0      6855

In [9]:
%%bash
# 列一覧
psql -c "\d+ public.nf_loto_final"

# 件数・期間
psql -c "SELECT COUNT(*) FROM public.nf_loto_final;"
psql -c "SELECT MIN(ds), MAX(ds) FROM public.nf_loto_final;"

# 主キー重複
psql -c "SELECT loto, unique_id, ds, COUNT(*) FROM public.nf_loto_final GROUP BY 1,2,3 HAVING COUNT(*)>1 LIMIT 50;"

                                                                            �e�[�u��"public.nf_loto_final"
   \x97    |       \x83^\x83C\x83v       | \x8Fƍ\x87\x8F\x87\x8F\x98 | Null \x92l\x82����e | \x83f\x83t\x83H\x83\x8B\x83g | \x83X\x83g\x83\x8C\x81[\x83W | \x88\xB3\x8Fk | \x93\x9D\x8Cv\x96ڕW | \x90���
-----------+-----------------------------+---------------------------+-------------------+------------------------------+------------------------------+---------------+---------------------+-------
 loto      | text                        |                           | not null          |                              | extended                     |               |                     |
 num       | bigint                      |                           | not null          |                              | plain                        |               |                     |
 ds        | timestamp without time zone |                           | not null          |                              | plain                        |               |                     |
 unique_id | text                        |                           | not null          |                              | extended                     |               |                     |
 y         | bigint                      |                           |                   |                              | plain                        |               |                     |
 co        | bigint                      |                           |                   |                              | plain                        |               |                     |
 n1nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n1pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n2nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n2pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n3nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n3pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n4nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n4pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n5nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n5pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n6nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n6pm      | real                        |                           |                   |                              | plain                        |               |                     |
 n7nu      | real                        |                           |                   |                              | plain                        |               |                     |
 n7pm      | real                        |                           |                   |                              | plain                        |               |                     |
�C���f�b�N�X:
    "nf_loto_final_pkey" PRIMARY KEY, btree (loto, num, unique_id)
    "idx_nf_loto_final_ds" btree (ds)
    "idx_nf_loto_final_loto_ds" btree (loto, ds)
    "idx_nf_loto_final_loto_num" btree (loto, num)
�A�N�Z�X���\�b�h: heap

 count
-------
 75202
(1 �s)

         min         |         max
---------------------+---------------------
 1994-10-07 00:00:00 | 2025-11-12 00:00:00
(1 �s)

 loto | unique_id | ds | count
------+-----------+----+-------
(0 �s)

## 5) 各テーブルの先頭表示（上位5行）

In [10]:
def head_sql(name: str, limit: int = 5):
    with engine.begin() as con:
        return pd.read_sql(text(f'SELECT * FROM {name} ORDER BY 1,2,3 NULLS LAST LIMIT {limit}'), con)

for t in tables:
    print(f"\n### {t} (head)")
    display(head_sql(t, 5))

### features_hist (head)

ProgrammingError: (psycopg2.errors.UndefinedTable) リレーション"features_hist"は存在しません
LINE 1: SELECT * FROM features_hist ORDER BY 1,2,3 NULLS LAST LIMIT ...
                      ^

[SQL: SELECT * FROM features_hist ORDER BY 1,2,3 NULLS LAST LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 6) 簡易品質チェック（重複・欠損）

In [ ]:
# 重複（主キー相当: loto, unique_id, ds）
dup_sql = text("""
SELECT COUNT(*) AS dup_count
FROM (
  SELECT loto, unique_id, ds, COUNT(*) 
  FROM features_hist 
  GROUP BY 1,2,3 
  HAVING COUNT(*) > 1
) t;
""")
# 欠損（代表2項目）
null_sql = text("""
SELECT 
  SUM((hist_y_lag1 IS NULL)::int) AS null_lag1,
  SUM((hist_y_roll_mean_w7 IS NULL)::int) AS null_mean7
FROM features_hist;
""")

with engine.begin() as con:
    dup = pd.read_sql(dup_sql, con)
    miss = pd.read_sql(null_sql, con)
print("[features_hist duplicates]")
display(dup)
print("[features_hist nulls]")
display(miss)

## 7) 特徴量生成スクリプトの実行（必要に応じて）
すでに生成済みならスキップ可能です。ログはセル出力に流れます。

In [ ]:
import subprocess, sys

cmd = [sys.executable, str(PROJECT_ROOT / "scripts" / "generate_features_simple.py")]
print("Run:", " ".join(cmd))
proc = subprocess.run(cmd, cwd=str(PROJECT_ROOT), text=True, capture_output=True)

print("=== STDOUT ===")
print(proc.stdout[:20000])  # 長すぎる場合は先頭だけ表示
print("=== STDERR ===")
print(proc.stderr[:20000])

if proc.returncode == 0:
    print("✅ スクリプト実行に成功しました。")
else:
    print("❌ スクリプト実行に失敗しました（returncode=", proc.returncode, "）")

Run: c:\Users\hashimoto.ryohei\miniconda3\envs\kaiseki\python.exe c:\nf\loto_feature_system_v2\scripts\generate_features_simple.py
=== STDOUT ===

=== STDERR ===
2025-11-13 10:41:13,431 - __main__ - ERROR - 設定ファイルが見つかりません: c:\nf\loto_feature_system_v2\scripts\..\config\db_config.yaml

❌ スクリプト実行に失敗しました（returncode= 1 ）

## 8) 実行後の再点検（行数・サンプル）

In [ ]:
from sqlalchemy import text

def exact_count(table):
    with engine.begin() as con:
        return pd.read_sql(text(f"SELECT COUNT(*) AS row_count_exact FROM {table};"), con)["row_count_exact"].iloc[0]

re_df = pd.DataFrame({
    "table_name": tables,
    "column_count": [pd.read_sql(text(f"SELECT COUNT(*) AS c FROM information_schema.columns WHERE table_name='{t}';"), engine)["c"].iloc[0] for t in tables],
    "row_count_exact": [exact_count(t) for t in tables]
})
re_df

## 9) サンプルエクスポート（CSV）

In [ ]:
export_dir = PROJECT_ROOT / "exports"
export_dir.mkdir(exist_ok=True)
sample = head_sql("features_hist", 100)
out_path = export_dir / "features_hist_sample.csv"
sample.to_csv(out_path, index=False)
out_path

## 付録) `.pgpass` を使った無言ログイン（任意）
- ファイル: `~/.pgpass`
- パーミッション: `chmod 600 ~/.pgpass`
- 記述例:  
  `localhost:5432:postgres:postgres:<PASSWORD>`

## 2) 系列独立性の検証（hist系）

In [ ]:
SCHEMA = "public"

# 日付をランダムにひとつ拾って、同一loto内で unique_idごとの値がバラけるか確認
sample = q(f"""
    WITH any_ds AS (
      SELECT loto, ds
      FROM {SCHEMA}.features_hist
      GROUP BY 1,2
      HAVING COUNT(*) >= 2  -- 同日で複数unique_idがあるところ
      ORDER BY RANDOM()
      LIMIT 1
    )
    SELECT h.loto, h.ds, h.unique_id, h.hist_y_roll_mean_w7
    FROM {SCHEMA}.features_hist h
    JOIN any_ds a USING (loto, ds)
    ORDER BY unique_id
""")
display(sample)
print("distinct count:", sample["hist_y_roll_mean_w7"].nunique())

## 3) カレンダー/Fourier系（futr）が系列に依らず同一か確認

In [ ]:
# 同じ ds かつ同じ loto で、futrの代表列がunique_idに依らず1値になるか
futr_chk = q(f"""
    WITH any_ds AS (
      SELECT loto, ds
      FROM {SCHEMA}.features_futr
      GROUP BY 1,2
      HAVING COUNT(*) >= 2
      ORDER BY RANDOM()
      LIMIT 1
    )
    SELECT f.loto, f.ds,
           COUNT(DISTINCT futr_ds_month) AS ndist_month,
           COUNT(DISTINCT futr_ds_day_of_week) AS ndist_dow
    FROM {SCHEMA}.features_futr f
    JOIN any_ds a USING (loto, ds)
    GROUP BY 1,2
""")
display(futr_chk)

## 4) 手計算の移動平均とDB格納値の一致確認（リーケージ検知）

In [ ]:
# 対象シリーズを1つ選ぶ（必要なら別のloto/unique_idに変更）
loto0, uid0 = "mini", "N1"

# 元データ（dsをtimestampへ明示キャスト）
orig = q(f"""
    SELECT loto, unique_id, ds::timestamp without time zone AS ds, y
    FROM {SCHEMA}.nf_loto_final
    WHERE loto=%s AND unique_id=%s
    ORDER BY ds
""", (loto0, uid0))

# 手計算の7ポイント移動平均（同列）
orig["roll7_manual"] = orig["y"].rolling(window=7, min_periods=1).mean()

# 特徴量（dsをtimestampへ明示キャスト）
feat = q(f"""
    SELECT loto, unique_id, ds::timestamp without time zone AS ds, hist_y_roll_mean_w7
    FROM {SCHEMA}.features_hist
    WHERE loto=%s AND unique_id=%s
    ORDER BY ds
""", (loto0, uid0))

# 念のための二重保険（tzが付いた場合なども吸収）
for df in (orig, feat):
    df["ds"] = pd.to_datetime(df["ds"], errors="coerce")
    if pd.api.types.is_datetime64tz_dtype(df["ds"]):
        df["ds"] = df["ds"].dt.tz_localize(None)

# マージと検証
chk = orig.merge(feat, on=["loto","unique_id","ds"], how="left", validate="one_to_one")
chk["abs_diff"] = (chk["roll7_manual"] - chk["hist_y_roll_mean_w7"]).abs()

print("mismatches(>1e-9):", int((chk["abs_diff"] > 1e-9).sum()))
display(chk.head(15))

## 5) 「最適」のラフ検証：シリーズ別・特徴量ランキング（相関）

In [ ]:
# 対象シリーズ（必要なら変更）
loto0, uid0 = "mini", "N1"

# 1) SQLは素直にそのまま取得（キャストしない・*でもOK）
X = q(f"""
    SELECT *
    FROM {SCHEMA}.features_hist AS f
    WHERE f.loto=%s AND f.unique_id=%s
    ORDER BY f.ds
""", (loto0, uid0))

y = q(f"""
    SELECT ds, y
    FROM {SCHEMA}.nf_loto_final AS t
    WHERE t.loto=%s AND t.unique_id=%s
    ORDER BY t.ds
""", (loto0, uid0))

# 2) 両方の ds をPandasで厳密に正規化
for df in (X, y):
    df["ds"] = pd.to_datetime(df["ds"], errors="coerce")  # object→datetime64[ns]
    if pd.api.types.is_datetime64tz_dtype(df["ds"]):
        df["ds"] = df["ds"].dt.tz_localize(None)         # もしtz付きなら外す
    df["ds"] = df["ds"].dt.floor("D")                    # 日次に丸めて揃える

# 3) 安全チェック（重複があれば例外）
assert not X.duplicated(subset=["ds"]).any(), "features_hist 側で ds 重複があります"
assert not y.duplicated(subset=["ds"]).any(), "nf_loto_final 側で ds 重複があります"

# 4) マージ（日時型一致済みなのでエラーにならない）
df = X.merge(y, on="ds", how="inner", validate="one_to_one")

# 5) 相関を計算（監査列など除外）
drop_cols = {"loto","unique_id","ds","created_at","updated_at"}
num_cols = [c for c in df.columns if c not in drop_cols and pd.api.types.is_numeric_dtype(df[c])]
if "y" in num_cols:
    num_cols.remove("y")

corr = []
for c in num_cols:
    s = df[[c, "y"]].dropna()
    if len(s) >= 10:
        rho = s[c].corr(s["y"], method="spearman")
        corr.append((c, rho))

rank = pd.DataFrame(corr, columns=["feature","spearman_r"]).sort_values("spearman_r", ascending=False)

print(f"行数（X）={len(X):,}, 行数（y）={len(y):,}, マージ後={len(df):,}")
print("dtype(X['ds'])=", X['ds'].dtype, " / dtype(y['ds'])=", y['ds'].dtype)
display(rank.head(15))
display(rank.tail(15))

### 方針の使い分け（超要約）

* 木系（LightGBM/XGB）：**NaNのままでもOK**。無理に埋めないのが安定。必要なら「列ごとのNaN率が高すぎる列だけ削除」。
* 線形/NN：**先頭の不完全区間を落とす**＋最低限の埋め（diff/pct の先頭だけ0、残りは“過去のみ”で拡張中央値など）。
* 列削除の閾値例：**NaN率 > 0.20（2割）なら列ドロップ**。<=0.20 は残す（行側の最小限ドロップ/埋めで対応）。

### 使い方の指針

* **木系モデル**：`df_trim → drop_cols_by_nan_ratio → zero_fill_edge_diffs` までで十分。LightGBM にそのまま投げてOK。
* **線形/NN**：上に加えて `fill_with_past_median` を有効化して **NaNゼロ化**。この埋め方は**“現在時点より過去の情報だけ”**で計算するためリークしません。
* **2割ルール**：`max_nan_ratio=0.20` を上げ下げして感度を確認。短窓（w3,w7）は残りやすく、長窓（w60,w90）は series 序盤のNaNが多いので列ドロップ対象になりがちです。

### ちょい実務メモ

* 0埋めは **diff/pct の先頭だけ**に限定（意味が明確だから）。rolling 系を0埋めすると分布が崩れがち。
* “過去のみ埋め” は時系列交差検証でも安全。最初の1点だけ残NaNなら、その行を落とすのが最も簡単。
* 予測フェーズでも同じ前処理を**学習時と同じロジックで**適用してください（特に列ドロップとトリム条件）。

このブロックをベースに、各 loto で `max_nan_ratio` と `ESSENTIAL_REGEX` を少し触るだけで運用できます。次は、この前処理の前後でスコアがどう動くか（木系 vs 線形）を A/B で見てみるのが建設的です。

In [ ]:
# === features_hist と nf_loto_final を安全にマージするための ds 正規化 ===
import pandas as pd
import numpy as np

KEYS = ["loto","unique_id","ds"]

# 1) 読み込み（既存の q(), SCHEMA を利用）
X = q(f"SELECT * FROM {SCHEMA}.features_hist")
y = q(f"SELECT loto, unique_id, ds, y FROM {SCHEMA}.nf_loto_final")

# 2) ds を datetime64[ns] に統一（タイムゾーンなし、失敗は NaT）
for _df in (X, y):
    _df["ds"] = pd.to_datetime(_df["ds"], utc=False, errors="coerce")
    # 万一 tz 付きなら外す
    if pd.api.types.is_datetime64tz_dtype(_df["ds"]):
        _df["ds"] = _df["ds"].dt.tz_convert(None)

# 3) 変換に失敗したレコード（NaT）を除外（必要ならログだけにして残してもOK）
bad_X = X["ds"].isna().sum()
bad_y = y["ds"].isna().sum()
print(f"ds 変換失敗: features_hist={bad_X}, nf_loto_final={bad_y}")
if bad_X:
    X = X.loc[X["ds"].notna()].copy()
if bad_y:
    y = y.loc[y["ds"].notna()].copy()

# 4) キーの dtype を完全一致させる（念のため）
for k in ("loto","unique_id"):
    X[k] = X[k].astype(str)
    y[k] = y[k].astype(str)

# 5) マージ
df = (X.merge(y, on=KEYS, how="inner")
        .sort_values(KEYS)
        .reset_index(drop=True))

print(f"行数（X）={len(X):,}, 行数（y）={len(y):,}, マージ後={len(df):,}")
print(f"dtype(X['ds'])= {X['ds'].dtype}  / dtype(y['ds'])= {y['ds'].dtype}")

## 1) NaN の扱い（3 方針をコード化）

In [ ]:
import numpy as np
import pandas as pd

KEYS = ["loto","unique_id","ds"]

# マージ済み df を想定（df には y と hist_* が入っている）
# df = X.merge(y, on=KEYS, how="inner").sort_values(KEYS).reset_index(drop=True)

# --- A) 先頭の不完全区間をシリーズごとに捨てる -----------------------------
# 対象列（学習で使う予定の説明変数）を定義
feature_cols = [c for c in df.columns if c.startswith("hist_")]
audit_cols   = {"created_at","updated_at"}
feature_cols = [c for c in feature_cols if c not in audit_cols]

def trim_incomplete_leading_block(g: pd.DataFrame) -> pd.DataFrame:
    # 先頭から見て、すべての feature_cols が非NaNになる最初の行の直前までを落とす
    mask_ok = ~g[feature_cols].isna().any(axis=1)
    if not mask_ok.any():
        # 1 行も完全でない場合は空返し
        return g.iloc[0:0]
    first_ok = mask_ok.idxmax()  # 最初に True になる行の index
    return g.loc[first_ok:].copy()

df_trimmed = (
    df.sort_values(KEYS)
      .groupby(["loto","unique_id"], group_keys=False)
      .apply(trim_incomplete_leading_block)
      .reset_index(drop=True)
)

print(f"[trim] before={len(df):,}  after={len(df_trimmed):,}")

# --- B) NaN 率で列ドロップ（全体で 20% 例） --------------------------------
nan_rate = df_trimmed[feature_cols].isna().mean().sort_values(ascending=False)
drop_by_rate = nan_rate[nan_rate > 0.20].index.tolist()  # 20% 超
keep_cols = [c for c in feature_cols if c not in drop_by_rate]
print(f"[drop by NaN-rate] drop={len(drop_by_rate)} cols  keep={len(keep_cols)} cols")

df_dropcols = df_trimmed[KEYS + keep_cols + ["y"]].copy()

# --- C) 必要最小限の埋め（diff/pct_change 先頭のみ） -------------------------
def minimal_fill(g: pd.DataFrame) -> pd.DataFrame:
    g = g.sort_values("ds").copy()
    # diff 系: 最初の行だけ 0 埋め（系列の「初回は差が定義できない」扱い）
    diff_cols = [c for c in g.columns if c.startswith("hist_y_diff")]
    for c in diff_cols:
        if c in g.columns and pd.isna(g.iloc[0][c]):
            g.iat[0, g.columns.get_loc(c)] = 0.0

    # pct_change 系: 分母 0 問題は特徴生成時点で対策済み想定。
    # 念のため NaN を 0 埋め（=変化率不定は「変化なし」と近似）
    pct_cols = [c for c in g.columns if c.startswith("hist_y_pct_change")]
    for c in pct_cols:
        g[c] = g[c].fillna(0.0)

    return g

df_ready = (
    df_dropcols.groupby(["loto","unique_id"], group_keys=False)
               .apply(minimal_fill)
               .reset_index(drop=True)
)

print(f"[ready] rows={len(df_ready):,}, cols={df_ready.shape[1]}")

## 2) シリーズ（loto×unique_id）ごとの「最適特徴」を選ぶ（相関上位を抽出）

In [ ]:
def rank_features_by_series(g: pd.DataFrame, topk=15) -> pd.DataFrame:
    feats = [c for c in g.columns if c.startswith("hist_")]
    feats = [c for c in feats if c not in ("created_at","updated_at")]
    out = []
    for c in feats:
        s = g[[c, "y"]].dropna()
        if len(s) >= 10:
            rho = s[c].corr(s["y"], method="spearman")
            out.append((c, rho))
    res = pd.DataFrame(out, columns=["feature","spearman_r"]).sort_values("spearman_r", ascending=False)
    return res.head(topk)

# 例：各シリーズの上位 10 個をまとめて表示用に収集
tops = []
for (l, u), g in df_ready.groupby(["loto","unique_id"]):
    r = rank_features_by_series(g, topk=10)
    r.insert(0, "loto", l)
    r.insert(1, "unique_id", u)
    tops.append(r)
tops_df = pd.concat(tops, ignore_index=True)

# シリーズ別上位特徴
display(tops_df.head(30))

# 参考：全シリーズでの「採用頻度」上位（安定して効く候補）
stable = (tops_df.groupby("feature")
                  .size()
                  .sort_values(ascending=False)
                  .rename("appear_in_series"))
display(stable.head(20))