# nf_loto テーブル確認ノートブック

`db_config.py` の設定に従って PostgreSQL に接続し、nf_loto 系テーブルを確認します。

In [1]:
import os
path =r"C:\nf\nf_loto_feature_project"
os.chdir(path)
os.getcwd()

'C:\\nf\\nf_loto_feature_project'

In [2]:

import pandas as pd
import psycopg2
from db_config import DB_CONFIG

conn = psycopg2.connect(**DB_CONFIG)

with conn:
    df_tables = pd.read_sql("""
        SELECT tablename
        FROM pg_catalog.pg_tables
        WHERE schemaname NOT IN ('pg_catalog', 'information_schema')
          AND tablename LIKE 'nf_loto%'
        ORDER BY tablename
    """, conn)
df_tables

C:\Users\hashimoto.ryohei\AppData\Local\Temp\ipykernel_3236\3240656115.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tables = pd.read_sql("""

       tablename
0  nf_loto_final

In [3]:

target = "nf_loto_final"  # 必要に応じて変更

with conn:
    df = pd.read_sql(f"SELECT * FROM {target} ORDER BY 1 LIMIT 50", conn)
df.head()

C:\Users\hashimoto.ryohei\AppData\Local\Temp\ipykernel_3236\2597865332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {target} ORDER BY 1 LIMIT 50", conn)

,loto,num,ds,unique_id,y,co,n1nu,n1pm,n2nu,n2pm,n3nu,n3pm,n4nu,n4pm,n5nu,n5pm,n6nu,n6pm,n7nu,n7pm
0,bingo5,1,2017-04-05,N1,1,0,2.0,8578800.0,51.0,265900.0,133.0,45900.0,593.0,16600.0,3797.0,2300.0,19682.0,600.0,183059.0,200.0
1,bingo5,1,2017-04-05,N2,10,0,2.0,8578800.0,51.0,265900.0,133.0,45900.0,593.0,16600.0,3797.0,2300.0,19682.0,600.0,183059.0,200.0
2,bingo5,1,2017-04-05,N3,13,0,2.0,8578800.0,51.0,265900.0,133.0,45900.0,593.0,16600.0,3797.0,2300.0,19682.0,600.0,183059.0,200.0
3,bingo5,1,2017-04-05,N4,19,0,2.0,8578800.0,51.0,265900.0,133.0,45900.0,593.0,16600.0,3797.0,2300.0,19682.0,600.0,183059.0,200.0
4,bingo5,1,2017-04-05,N5,23,0,2.0,8578800.0,51.0,265900.0,133.0,45900.0,593.0,16600.0,3797.0,2300.0,19682.0,600.0,183059.0,200.0